// TASK 1, and 2
  background-color: CornflowerBlue;
  text-align: center;
}

// TASK 3 and 4
.about-me {
  font-size: 20px;
  opacity: 0.5;
}

// TASK 5
.title {
  font-weight: bold;
}

// TASK 6
h1 {
  color: Azure;
}

// TASK 7
body {
  font-family: Georgia;
  background-image: url("In this project, you’ll use your knowledge of CSS visual rules to create rule sets and improve the appearance of a photography portfolio site!");
}








